extends layout.pug
    block content
        form(action="/login" method='post' id='login-form' )
            label(for='email') Email Address
            input(type='email' name='email' placeholder='Enter email' require)
            label(for='password') Password
            input(type='password' name='password' require)
            button(type='submit') Login
        a(href='/sign-up') Don't have an account? Sign up here.
