html
  head
    title="Sign Up"
    link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    h1="Sign up for Foodreads"
    div
    h3="Sign up with email"
    form(action='/sign-up' method='post' id='sign-up')
        div(id='nameInput')
            label Name
            div
            input(type='text' name='name' placeholder='Name' value= user.name require)
        div(id='emailInput')
            label Email
            div
            input(type='email' name='email' placeholder='you@yours.com' value=user.email require)
        div(id='passwordInput')
            label Password
            div
            input(type='text' name='password')
        button(type='submit') Sign Up
