append head
    link(rel='stylesheet' type='text/css' href='/stylesheets/footer.css')
block foot
    .footer
        div.profile Jorge Borges
            div.icons
                a(href="https://www.linkedin.com/in/jorge-engineer/")
                    img( src="https://img.icons8.com/color/48/000000/linkedin.png")
                a(href="https://github.com/JDBorges187")
                    <img src="https://img.icons8.com/fluent/48/000000/github.png"/>
        div.profile Alvin Huang
            div.icons
                a(href="https://www.linkedin.com/in/alvin-huang-8aa750187/")
                    img( src="https://img.icons8.com/color/48/000000/linkedin.png")
                a(href="https://github.com/huang-alvin")
                    <img src="https://img.icons8.com/fluent/48/000000/github.png"/>
        div.profile Jack Radinger
            div.icons
                a(href="https://www.linkedin.com/in/jack-radinger-6b5349174/")
                    img( src="https://img.icons8.com/color/48/000000/linkedin.png")
                a(href="https://github.com/JackRadinger")
                    <img src="https://img.icons8.com/fluent/48/000000/github.png"/>
