extends layout

append head
    //- add page specific styles by appending to the head
    link(rel="stylesheet" href="/stylesheets/home.css")
    //- add page specific js
    script(src="/javascripts/index.js" type="module" defer)

block content
    div.left
        .bookshelf
            p.bookshelf__header: a(href='/bookshelf') My Bookshelf
            .bookshelf__default
                ul
                    li: a(href='/bookshelf/1') Currently Reading: #{bookshelf[0].Books.length}
                    li: a(href='/bookshelf/2') Will Read:
                    li: a(href='/bookshelf/3') Finished Reading:


    div.center
        h5 New Books
        div.new-books
            each book, index in latestBooks
                - var index = index;
                div(class='new-books__item')
                        a(href='/home')
                            img(class='image' src=book.cover)


    div.right
    footer
        p © 2021 Food Reads
        p
            a(href="https://github.com/huang-alvin/Food-Reads/wiki") Visit our Github!
