extends layout

append head
  //- add page specific styles by appending to the head
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  main(class='main')
          h1 Placeholder for Home Page
          p Splash page signed out user.
