append head
  script(src="/javascripts/search.js" type="module" defer)

.header-nav__container
      span.header-nav__group
        a.header-nav__logo#logo(href="/") foodreads
        if locals.authenticated
          a.header-nav__link(href="/home") Home
          a.header-nav__link(href="/bookshelf") My Bookshelf
          a.header-nav__link(href='/books') Books
      span.search-bar-container
        form(action="/search" method="post" id="search-bar")
          input(name="searchInput" type="text" placeholder="search..." id="search-input")
          input(name="ajax" type="hidden" value="false")
          button(type="submit" id="submit-search")
            <img src="https://img.icons8.com/material-outlined/24/000000/search--v1.png"/>
        div.search-modal i am a cat

      span.header-nav__group
        if locals.authenticated
          span.header-nav__text Welcome #{user.name}!
          form(action='/signout' method='post')
            button(class='header-nav__btn' type='submit') Logout
        else
          a(href='/login')
            button.header-nav__btn Login
          a(href='/sign-up')
            button.header-nav__btn Sign Up
