include utils.pug
html
  head
    title="Sign Up"
    //- link(rel='stylesheet' href='/stylesheets/reset.css')
    link(rel='stylesheet' href='/stylesheets/sign-up.css')
    link(rel="stylesheet" href="/stylesheets/home.css")
    link(rel='stylesheet' type='text/css' href='/stylesheets/nav.css')
  body
    include auth-nav.pug
    #container
      .image-container
      .center
        div
          div.signup__container
            p#signup-head Sign up for FoodReads
              +validationErrorSummary(errors)
              //- h3="Sign up with email"
              form(action='/sign-up' method='post' id='sign-up')
                  div(id='input-div')
                      label Name
                      div
                      input(type='text' name='name' placeholder='Name' value=name require)
                  div(id='input-div')
                      label Email
                      div
                      input(type='email' name='email' placeholder='you@yours.com' value=email require)
                  div(id='input-div')
                      label Password
                      div
                      input(type='password' name='password')
                  button(type='submit' id='signup-button') Sign Up
              a(href='/login') Already have an account? Log in here.
    include footer.pug
