#container {
  display: grid;
  grid-template-areas:
    "left center center right"
    "footer footer footer footer";
  grid-template-rows: 90% 10%;
  grid-template-columns: 25% 25% 25% 25%;
  justify-items: center;
  height: 100%;
}
html,
body {
  margin: 0;
  height: 100%;
}
.center {
  grid-area: center;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    "top top"
    "center center"
    "bottom bottom";
  grid-template-rows: 15% 60% 25%;
  grid-template-columns: 30% 70%;
}
.book-card {
  grid-area: center;
  display: grid;
  /* undo the thing below */
  grid-template-areas:
    "cover info info info"
    "cover info info info"
    "shelf desc desc desc"
    "rate desc desc desc"
    ". desc desc desc";
}
