#container {
  display: grid;
  grid-template-areas:
    "left center center right"
    "footer footer footer footer";
  grid-template-rows: 90% 10%;
  grid-template-columns: 25% 25% 25% 25%;
  justify-items: center;
}
html,
body {
  margin: 0;
}
.left {
  grid-area: left;
  display: flex;
  align-items: center;
  justify-content: center;
}
.center {
  margin-top: 5%;
  grid-area: center;
}
.right {
  grid-area: right;
}
.footer {
  height: 100px;
  grid-area: footer;
  /* text-align: bottom; */
  /* align-items: bottom; */
  display: flex;
  flex-direction: column;
  justify-content: bottom;
}
.new-books {
  display: grid;
  grid-template-areas:
    "0 1 2"
    "3 4 5"
    "6 7 8";
  grid-template-rows: repeat(3, 200px);
  grid-template-columns: repeat(3, 150px);
}
.bookshelf {
  text-align: center;
}
h5 {
  text-align: center;
}

.image {
  height: 100%;
  /* width: 100%; */
  /* max-width: 150px; */
  /* max-height: 200px;  */
  /* object-fit: fill; */
}
.new-books__item,
a {
  display: flex;
  overflow: hidden;
  justify-content: center;
  margin: 10px 10px 10px 10px;
  max-width: 150px;
  max-height: 200px;
  box-sizing: border-box;
}
