@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.header-nav__container {
  background-color: #dfd9c2;
  font-size: 20px;
  line-height: 6vh;
  padding: 4px 10px;
  display: flex;
  justify-content: space-between;
  color: #3d2413;
}

.header-nav__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.header-nav__link {
  padding: 0px 20px;
  text-decoration: none;
  white-space: nowrap;
  transition: all 0.3s ease 0s;
}

.header-nav__logo {
  font-size: 30px;
  transition: none;
  margin-right: 40px;
  text-decoration: none;
}
.header-nav__logo:visited {
  color: inherit;
}

.header-nav__link:visited {
  color: inherit;
}
.header-nav__link:hover {
  background-color: #3d2413;
  color: #f4f2e9;
}
.header-nav__text {
  padding: 3px 20px;
}

.header-nav__btn {
  padding: 9px 18px;
  margin: 0 10px;
  background-color: #382110;
  color: #f4f2e9;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}

body {
  background-color: #f3efd9;
}

#search-bar {
  margin-right: 20%;
  display: flex;
  height: 38px;
  font-size: 16px;
}
#search-input {
  width: 265px;
  border: 1px solid #ddd;
  outline: 0;
  border-radius: 4px;
  font-size: 16px;
  padding-left: 5px;
}

#submit-search {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.search-bar-container {
  margin-right: 14%;
  display: flex;
  align-items: center;
  /* modal edits */
  /* flex-direction: column; */
  position: relative;
}

.search-modal {
  position: absolute;
  background: white;
  width: 265px;
  top: 100%;
}

@media screen and (max-width: 1024px) {
  .header-nav__text {
    /* opacity: 0; */
    position: relative;
  }
}

button {
  cursor: pointer;
}
